*{
  margin: 0;
  padding: 0;
  font-family: 'Balsamiq Sans';
}
header{
  background-image:url(theme6a.jpg);
  height: 100vh;
  background-size: cover;
  background-position:35% 65%; ;

}
ul{
  float: right;
  list-style-type: none;
  margin-top: 20px;
  margin-right: 20px;

}
ul li{
  display:inline-flex;
  transition: 0.6s ease;
}
ul li a{
  text-decoration: none;
  color: #FFFF00;
  padding: 5px 20px;
  /* border: 0px solid #F7DC6F; */
  transition: 0.6s ease;

}

ul li a:hover{
  /* background-color: #F7DC6F; */
  color:  #4d4dff;
}
ul li.three a{    /*this to highlight home at website*/

  color: #FFFF00;;
  border-bottom-style: solid;
  border-bottom-color: #FFFF00;
  border-bottom-width: thin;
}
