*{
  margin: 0;
  padding: 0;
  font-family: 'Balsamiq Sans', cursive;
}
header{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(theme.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
ul{
  float: right;
  list-style-type: none;
  margin-top: 20px;
  margin-right: 20px;

}
ul li{
  display:inline-flex;
  transition: 0.6s ease;
}
ul li a{
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 0px solid #fff;
  transition: 0.6s ease;

}

ul li a:hover{
  background-color: #fff;
  color: #2E4053;
}

.logo img{
  float: left;
  width: 150px;
  height: 100px;
  margin-top: 0px;
  margin-left: 20px;
}
ul li.one a{    /*this to highlight home at website*/
  background-color: #fff;
  color: #2E4053;
}
.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.title p{
  color: #fff;
  font-size: 4.4vw;
}
.button{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);

}
.btn{
  border: 1px  #fff;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  transition: 0.3s linear;
  padding: 10px 10px;
  border-bottom-style: solid;
  border-color: #03e9f4;
}
.btn:hover{

  background-color: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;



}
